* {
    font-size: 100%;
    font-family: 'Archivo';
}

.bg-primary {
    background-color: #024FE7 !important;
}

body {
    background: #D6DAE1 !important;

}

p {
    color:  #02359B;
    font-weight: bold;
}

h1 {
    color: #0d0d0d

}

.navbar-brand{
    margin-left:auto; 
    margin-right:auto;
    width:45%;

}

.culmn{
    position: static;
    top: 0
}


.home{
    background: url(assets/main_teste.jpeg) no-repeat scroll  center center;
    background-size: cover;
    position: relative;
    padding-top: 300px;
    padding-bottom: 190px;
    width:100%;
}