* {
    font-size: 100%;
    font-family: 'Archivo';
}

a{
    font-size: large;
    text-decoration: none;
}

.bg-primary {
    background-color: #024FE7 !important;
}

.text-primary{
    color: #D6DAE1 !important
}

.text-servicos{
    color:  #02359B !important;
    padding-top: 20px;
    padding-bottom: 20px;    
}

body {
    background: #D6DAE1 !important;

}

p {
    color:  #02359B;
    font-weight: bold;
}

h1 {
    color: #0d0d0d

}

.navbar-brand{
    margin-left:auto; 
    margin-right:auto;
    width:45%;

}

.fa-linkedin{
    color: white;
}

.fa-github{
    color: white;
}

.fa-phone{
    color: white
}

.fa-whatsapp{
    color: white
}

.fa-location-arrow{
    color: white
}

.fa-envelope{
    color: white
}


.bg-image-home{
    background: url(assets/main_image.jpeg) no-repeat scroll  center center;
    background-size: cover;
    position: relative;
    padding-top: 300px;
    padding-bottom: 300px;
    width:100%;
    height: 100%;
    filter: blur(3px) brightness(35%);
}


.home-text{
    position: absolute;
    padding-top: 35px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

