* {
    font-size: 100%;
    font-family: 'Archivo';
}

a{
    font-size: large;
    text-decoration: none;
}

.bg-primary {
    background-color: #024FE7 !important;
}

.text-primary{
    color: #D6DAE1 !important
}

.text-dark-blue{
    color: #02359B !important;
}

body {
    background: #EEF3FC;
    height: 50%;
}


/* NavBar */

.navbar-brand{
    margin-left:auto; 
    margin-right:auto;
    width:60%;

}

.titulos-navbar{
    color:  #02359B !important;
    padding-top: 20px;
    padding-bottom: 20px;    
}

/* Início */

.bg-image-home{
    background: url(assets/main_image.jpeg) no-repeat scroll  center center;
    background-size: cover;
    position: relative;
    padding-top: 325px;
    padding-bottom: 325px;
    width:100%;
    height: 100%;
    filter: blur(3px) brightness(35%);
}


.home-text{
    position: absolute;
    padding-top: 35px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-weight: bold;
}

/* Serviços */

.container-services{
    padding-left: 0px;
}

.features_item{
    display: inline-block;
    margin: 40px;
    padding: 10px;
}

.services-text{
    transform: translate(35%,-80%);
    width: 70%;
}

.services-exp{
    color: black;
    transform: translate(0%,-60%);
}

.services-list{
    color: black;
    list-style: none ;
    transform: translate(-10%,-20%);
}

/* Áreas de Atuação */

.img-areas{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 30%;
}


.text-areas{
    color:black;
    font-style: bold;
    width: 100%;
}

/* Tecnologias */

.img-tec{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 45%;
}

.img-tec-linux{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 30%; 
}

/* Contato */

.footer{
    background-color: #024FE7 !important;
    padding-bottom: 20px;
    width: 100%;

}

.logo-redes-contato{
    text-align: start;
}

.fale-conosco{
    color: white;
    text-align: center;
}
.foot-note{
    color: white;
    text-align: center;
    vertical-align: text-bottom;
    transform: translate(0%,130%);
}


.contato-logo-redes{
    transform: translate(60%,0%);
}

.linkedin-icon{
    transform: translate(9%,0%);
}
.github-icon{
    transform: translate(12%,-100%);
}

.youtube-icon{
    transform: translate(15%,-200%);
} 


/* Ícones */

.fa-linux{
    color:#02359B;
    
}

.fa-book{
    color:#02359B;
    
}

.fa-microchip{
    color:#02359B;
    
}

.fa-arrow-right{
    color:#02359B;
}

.fa-linkedin{
    color: white;
}

.fa-github{
    color: white;
}

.fa-youtube{
    color: white;
}

.fa-phone{
    color: white
}

.fa-whatsapp{
    color: white
}

.fa-location-arrow{
    color: white
}

.fa-envelope{
    color: white
}


.port_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(70,130,180,0.60);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 35%;
    opacity: 0;
    transition: all 0.2s;
}

